
<!-- Nav bar -->
<nav>
    <div class="logo">
        <h1>
        <% if (usersName){ %>
            <%= usersName %>'s Diary
        <% } %></h1>
        <a href="/logout" role="button">Logout</a>
    </div>
    <div class="nav-links">
        <a href="/personalDiary">Diary</a>
        <a href="/notes">My Notes</a>
    </div>
</nav>