<%- include("partials/header") %>
<div class="home">
    <h1>Personal Diary</h1>  
    <div class="reg-login">
        <form action="/forgotPassword" method="post">
            <input type="email" name ="email" placeholder="Type your e-mail">
            <% if (message !== ""){ %>
                <p> <%= message %> </p>
            <%} %>
            <button class="btn" type="submit">Reset</button>
        </form>
    </div>
</div>
<%- include("partials/footer") %>
