<%- include("partials/header") %>

<form action="/forgotPassword" method="post">
    <input type="email" name ="email">
    <button type="submit">Reset</button>
</form>
<% if (message !== ""){ %>
    <p> <%= message %> </p>
<%} %>
<%- include("partials/footer") %>
