<!-- <%- include("partials/header") %>

<p>WELCOME BACK</p>
<form action="/login" method="post">
    <input type="email" name="email" placeholder="e-mail">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button> 
</form>
<p>Or</p>
<a href="/register">Register</a>

<%- include("partials/footer") %> -->