<%- include("partials/header") %>

<p>login</p>

<form action="/login" method="post">
    <input type="email" name="email" placeholder="e-mail">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
</form>

<%- include("partials/footer") %>