<%- include("partials/header") %>
<div class="home">
    <h1>Personal Diary</h1>  
    
    <div class="reg-login">
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Type your e-mail">
            <input type="password" name="password" placeholder="Type your password">
            <% if (errorMessage){ %>
                <p> <%= errorMessage %> </p>
            <%} %>
            <div class="forgot">
                <a href="/forgotPassword">Forgot password?</a>
            </div>
            <button class="btn" type="submit">Login</button> 
            <div class="noAccount">
                <p>Don't have an account yet?</p>
                <a href="/register">Register</a>
            </div>
        </form>
        
    </div>
</div>

<%- include("partials/footer") %> 