<%- include("partials/header") %>

<p>Registration</p>

<form action="/register" method="post">
    <input type="email" name="email" placeholder="e-mail">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Register</button>
</form>

<%- include("partials/footer") %>