@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

* {
  margin: 0;
}
/* nav */
body {
  background-color: rgb(255, 252, 252);
}
nav {
  background: linear-gradient(90deg, #9eb7e8, #ed9f9f);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 2px 5px 10px rgb(184, 184, 184);
  position: fixed;
  top: 0;
  width: 100%;
}
.logo h1 {
  padding-left: 10px;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}
nav a {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: bolder;
  padding: 0 10px 0 10px;
}

/* home login-register forms*/
.home {
  background-image: url("/images/background6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 98vh;
}
.home h1 {
  margin: 0 5px;
  font-family: "Dancing Script", cursive;
  font-size: 8vh;
  text-align: center;
  color: #e35e5e;
  color: white;
  text-shadow: 1px 2px 5px #9ba9f0;
  padding-top: 6vh;
  padding-bottom: 6vh;
}
.reg-login form {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 55vw;
  height: 50vh;
  background-color: rgb(244, 242, 242);
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgb(184, 184, 184);
}
.reg-login form input,
.create-story form input,
.edit-story form input,
form input {
  height: 30px;
  width: 30vw;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 5px 5px rgb(184, 184, 184);
  outline: none;
}
.forgot {
  display: flex;
  width: 45vw;
  justify-content: flex-end;
}
.btn {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgb(184, 184, 184);
  height: 30px;
  width: 70px;
  padding: 5px;
  margin: 5px;
  background: linear-gradient(90deg, #9ba9f0, #f67676);
  background: linear-gradient(90deg, #9eb7e8, #f18d8d);
  cursor: pointer;
}
.home p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}
.noAccount {
  width: 45vw;
  display: flex;
  justify-content: space-between;
}
.noAccount a,
.forgot a {
  font-family: "Montserrat", sans-serif;
  color: rgb(97, 96, 96);
  font-size: 13px;
}

/* personalDiary page */
.compose {
  text-align: center;
  margin: 10px 0 20px 0;
}
.compose a {
  font-size: 30px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: black;
}
.compose a i {
  background: linear-gradient(90deg, #9eb7e8, #ed9f9f);
  padding: 5px;
  border-radius: 5px;
}
.story {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-align: center;
  color: #f67676;
  text-shadow: 1px 2px 5px #9ba9f0;
  margin: 90px 0 20px 0;
}
.entry {
  padding: 10px;
  margin: 10px 10px 20px 10px;
  background-color: #f0e5e5;
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgb(184, 184, 184);
  display: flex;
  flex-direction: column;
}
.entry h3 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  padding-bottom: 5px;
}
.date {
  text-align: right;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  padding-right: 10px;
}
.entry p {
  display: inline;
  font-family: "Montserrat", sans-serif;
}
.entry a {
  font-family: "Montserrat", sans-serif;
  color: rgb(58, 58, 58);
  padding-left: 10px;
}
.btn-container {
  padding-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* compose */
.create-story form,
.edit-story form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80vw;
  height: 65vh;
  background-color: rgb(244, 242, 242);
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgb(184, 184, 184);
}
input,
textarea {
  font-family: "Montserrat", sans-serif;
}
.create-story form textarea,
.edit-story form textarea {
  width: 70vw;
  height: 50vh;
  outline: none;
  border: none;
  resize: none;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgb(184, 184, 184);
}
textarea::placeholder,
input::placeholder {
  font-family: "Montserrat", sans-serif;
}

/* full story */
.story-text {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  white-space: break-spaces;
}
.story-container {
  background-color: #f0e5e5;
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgb(184, 184, 184);
  margin: 10px;
  padding: 10px;
}
.edit-del-link {
  text-decoration: none;
  color: black;
}
.back {
  font-family: "Montserrat", sans-serif;
  color: rgb(97, 96, 96);
  font-size: 15px;
  margin-left: 20px;
}
/* notes */
.note-container {
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 242, 242);
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgb(184, 184, 184);
  width: 60vw;
}
.note-entry {
  padding: 5px;
  margin: 10px 10px 10px 10px;
  background-color: #f0e5e5;
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgb(184, 184, 184);
  display: flex;
  width: 50vw;
  flex-direction: column;
  align-items: center;
}
.note-entry p {
  font-family: "Montserrat", sans-serif;
}
/* footer */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(105, 104, 104);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(220, 220, 220);
}
footer span {
  color: rgb(32, 32, 91);
  font-family: "Montserrat", sans-serif;
  color: #f67676;
}

@media screen and (max-width: 600px) {
  .reg-login form {
    width: 80vw;
    height: 60vh;
  }
  .reg-login form input {
    width: 60vw;
  }
  .reg-login form textarea {
    width: 75vw;
    height: 40vh;
  }
  .noAccount,
  .forgot {
    width: 60vw;
  }
}
